mixin grid_item(array)
	each item in array
		.grid_item(class=item.item_pos)
			if item.background
				+picture({
					class: 'grid_item_background',
					img: `${item.background}`
				})
			if item.image
				a(href="#" class='grid_item_img_wrapper')
					+picture({
						img_class: 'grid_item_img cover_img',
						img: `${item.image}`
					}) 
								
			.grid_item_content 
				.grid_item_text 
					.grid_item_text__caption
						if item.tag
							a(href='#').grid_item_tag(class=item.tag_mod)= item.tag

						if item.author
							.grid_item_author= item.author

					if item.title
						a(href="#").grid_item_text__title(class=item.title_mod)!= item.title

					if item.description
						.grid_item_text__description= item.description                    
						
				if item.date
					.grid_item_date_block
							span.grid_item_date_block__date= publication_date
							span.grid_item_date_block__time= publication_time
				if item.video
					button(type='button').btn_watch 
						span.btn_watch__text Cмотреть
						.btn_watch__icon
							+icon('play', 'icon--size_mod')       

			if item.label_mod
					.grid_item_label(class=item.label_mod) 
							+icon('light', 'icon--size_mod')
